<div class="links scroll">
        <a href="{{site.baseurl}}/">home</a>
        <a href="{{site.baseurl}}/projects/projects.html">projects</a>
        <a href="{{site.baseurl}}/blog/">thoughts</a>
       <!-- <a href="{{site.baseurl}}/archive/">archive</a> -->
        <!-- <a href="{{site.baseurl}}/publications/">publications</a> -->
        <!-- <a href="{{site.baseurl}}/cv/">cv</a> -->
        
        <input type="text" id="search-input" placeholder="search my posts...">
        <br/>
        <div id="results-container"></div>

</div>

