---
layout: default
---
<h2 class="post-headline">{{page.title}}</h2>
<p class="meta">
  <small>
    {{page.date | date: '%B %d, %Y'}}
    Last updated on {{ site.time | date_to_long_string }}
  </small>
</p>
<span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

{{content}}

<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
{% endif %}
